{% load i18n %}

{% block subject %}
{% blocktrans %}
    Study {{ study_title }} consent documents updated
{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Hello, {{ username }}.{% endblocktrans %}

{% blocktrans %}
Consent documents for the {{ study_title }} study were updated on
{{ study_date_of_change }}.
As a result, you will be unable to upload new study images for a patient until
the consent is renewed. You may ask patients to re-sign the consent on your app
or they can do it via their own account. Previously uploaded images can
still be viewed.
{% endblocktrans %}

{% blocktrans %}
Please contact {{ study_coordinator }} at {{ study_coordinator_email }}
for additional information or questions.
{% endblocktrans %}

{% blocktrans %}
Best regards,
UCSF HadleyLab Support Team
{% endblocktrans %}

{% endblock text_body %}
